.switch-container {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

#toggle-container {
  transform: scale(0.5);
}

#toggle-container .toggle input {
  display: none;
}
#toggle-container .toggle input:checked ~ span {
  border-color: #333;
  background: #2c4e63;
}
#toggle-container .toggle input:checked ~ span:before {
  left: 5.5rem;
  box-shadow: inset -1rem 0rem 0 0.25rem #ffc207;
  background: transparent;
}
#toggle-container .toggle input:checked ~ span:after {
  content: "★";
  top: 1rem;
  left: 5rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: #ffc207;
}
#toggle-container .toggle span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
  border: 0.25rem solid #666;
  background: #5197c4;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
#toggle-container .toggle span:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: inset -4rem -4rem 0 0 #ffc207;
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}
#toggle-container .toggle span:after {
  content: "☁";
  position: absolute;
  top: 1rem;
  left: 1.75rem;
  width: 1rem;
  height: 1rem;
  color: #fff;
  font-size: 4rem;
  transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

#label-toggle {
  margin: 0;
}